@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo-loop-container {
  position: relative;
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
  height: 100px;
  cursor: default;
}

.logo-loop-track {
  display: flex;
  gap: 3rem;
  width: max-content;
  animation: scrollInfinite 60s linear infinite;
  user-select: none;
  cursor: grab;
}

.logo-loop-container:hover .logo-loop-track {
  animation-play-state: paused;
}

.logo-loop-track:active {
  cursor: grabbing;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-shadow {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

